spring:
  application:
    name: tenant-service
  datasource:
    url: jdbc:postgresql://localhost:5432/financial_saas
    username: heyake
    password:
    driver-class: org.postgresql.Driver
    jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      discovery:
        enabled: true
        server-addr: 127.0.0.1:8848
  mybatis-plus:
    configuration:
      log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
      map-underscore-to-camel-case: false
      global-config:
        db-config:
          id-type: auto
          table-prefix: tenant_
server:
    port: 8080
