server:
  port: 9000

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: tenant-service
          uri: lb://tenant-service
          predicates:
            - Path=/tenants/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/auth/**,/users/**
        - id: org-service
          uri: lb://org-service
          predicates:
            - Path=/orgs/**

logging:
  level:
    org.springframework.cloud.gateway: debug
